body {
  background-color: rgb(215, 160, 71);
  color: #fff;
  font-family: "Roboto", sans-serif;
}

h1 {
  text-align: center;
  font-size: 50px;
  font-weight: bold;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

td {
  font-size: 20px;
  margin-top: 5px;
  margin-bottom: 5px;
  font-style: italic;
  list-style: none;
}

td:hover {
  color: rgb(215, 160, 71);
  cursor: pointer;
  background-color: #5e96ee;
}

table {
  margin-top: 50px;
  margin-left: auto;
  margin-right: auto;
  border-collapse: collapse;
  width: 80%;
  color: #fff;
  font-size: 25px;
  border-color: burlywood;
  text-align: center;
}

.contener {
  background-color: #4389de;
  padding: 20px;
  margin: 0 auto;
  width: 80%;
  border-radius: 20px;
}

.return {
  background-color: #4389de;
  border-radius: 10px;
  color: burlywood;
  text-align: left;
  width: 60px;
  margin-left: 100px;
}

.return:hover {
  background-color: #5e96ee;
  color: rgb(215, 160, 71);
  cursor: pointer;
}

h3 {
  padding: 15px;
}

a {
  text-decoration: none;
}

.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
  padding: 20px;
}

.post {
  background-color: #4389de;
  border: 1px solid #ddd;
  border-radius: 10px;
  padding: 20px;
  width: 300px;
}

.post:hover {
  background-color: #5e96ee;
  cursor: pointer;
}

.post h2 {
  font-size: 20px;
  font-weight: bolder;
  margin-top: 0;
  color: burlywood;
}

.post p {
  font-size: 14px;
  color: #ffffff;
}

.post_body {
  font-style: italic;
}


.modal {
  display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.5);
}

.modal-content {
  animation-name: zoom;
  animation-duration: 0.3s;
  animation-timing-function: cubic-bezier(0.25, 0.1, 0.25, 1); /* Użyj funkcji kubicznej */
  background-color: #4389de;
    margin: auto;
    margin-top: 10%;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    max-width: 600px;
    min-width: 500px;
    border-radius: 10px;
    text-align: center;
}

.modal-content .post-body {
  font-style: italic;
}

.modal-content img {
    display: block;
    margin: 0 auto;
    max-width: 100%;
    height: auto;
}

@keyframes zoom {
  from {
    transform: scale(0.1);
  }
  to {
    transform: scale(1);
  }
}

.close {
  color: burlywood;
  float: right;
  font-size: 28px;
  font-weight: bold;
  cursor: pointer;
}

.close:hover, .close:focus {
  color: #f66f6f;
  text-decoration: none;
}

.filter{
  position: relative;
  font-size: 24px;
  background-color: #5e96ee;
  padding: 25px;
  width: fit-content;
  border: 1px solid #f66f6f;
  border-radius: 10px;

}

#apply_button {
  font-size: 24px;
  margin: auto;
  display: block;
  background-color: #4389de;
  color: burlywood;
  border-style: none;
  margin-top: 10px;
  padding: 10px;
  border-radius: 10px;
}

#apply_button:hover {
  margin-top: 10px;
  font-size: 24px;
  background-color: #84acec;
  color: rgb(215,160,71);
  cursor: pointer;
}

.sort {
  display: flex;
  align-items: center; /* Wyśrodkowanie wertykalne */
  justify-content: space-between; /* Rozstawienie na całej szerokości */
}

.title {
  margin-left: 500px;
  text-align: center;
  flex-grow: 1;
}

.comment {
  background-color: #4389de;
  border: 1px solid #ddd;
  border-radius: 10px;
  padding: 20px;
  width: 300px;
}

.comment:hover {
  background-color: #5e96ee;
  cursor: pointer;
}

.comment h2 {
  font-size: 20px;
  font-weight: bolder;
  margin-top: 0;
  color: burlywood;
}

.comment p {
  font-size: 14px;
  color: #ffffff;
  font-style: italic;
}

.photos-container {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    gap: 20px;
    padding: 20px;
}

.photo {
    width: calc(20% - 20px); /* Ustaw szerokość każdego zdjęcia na 20% szerokości ekranu minus odstęp */
}

#photo:hover {
  cursor: pointer;
  opacity: 0.8;
}

#view {
  background-color: rgb(215, 160, 71);
  border-radius: 10px;
  color: #4389de;
  text-align: left;
  font-weight: bold;
  width: 60px;
  padding: 10px;
}

#view:hover {
  background-color: burlywood;
  color: #4389de;
  cursor: pointer;
}

.albums-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    padding: 20px;
}

.album {
    cursor: pointer;
    width: calc(25% - 20px);
    color: burlywood;
    text-align: center; /* Wyśrodkowanie zawartości */
    align-items: center;
    background-color: #4389de;
    border: 1px solid rgb(215, 160, 71);
    border-radius: 10px;
    padding: 20px;
    margin-bottom: 20px; /* Dodanie marginesu na dole dla odstępu między albumami */
}

.album:hover {
    background-color: #5e96ee;
    color: rgb(215, 160, 71);
}