body {
  background-color: rgb(215, 160, 71);
  color: #fff;
  font-family: "Roboto", sans-serif;
}

h1 {
  text-align: center;
  font-size: 50px;
  font-weight: bold;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

td {
  font-size: 20px;
  margin-top: 5px;
  margin-bottom: 5px;
  font-style: italic;
  list-style: none;
}

td:hover {
  color: rgb(215, 160, 71);
  cursor: grab;
  background-color: #5e96ee;
}

table {
  margin-top: 50px;
  margin-left: auto;
  margin-right: auto;
  border-collapse: collapse;
  width: 80%;
  color: #fff;
  font-size: 25px;
  border-color: burlywood;
  text-align: center;
}

.contener {
  background-color: #4389de;
  padding: 20px;
  margin: 0 auto;
  width: 80%;
  border-radius: 20px;
}

.return {
  background-color: #4389de;
  border-radius: 10px;
  color: burlywood;
  text-align: left;
  width: 60px;
  margin-left: 100px;
}

.return:hover {
  background-color: #5e96ee;
  color: rgb(215, 160, 71);
}

h3 {
  padding: 15px;
}

a {
  text-decoration: none;
}
