<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{{ url_for('css_other_style') }}">
    <title>Comments</title>
</head>
<body>
    <header>
        <a href="./"><h3 class="return">Return</h3></a>
        <div class="sort">
            <div class="title">
                <h1>Comments</h1>
            </div>
            <div class="elements">
                    <label for="num_of_elements">How many elements? </label>
                    <input type="number" id="num_of_elements" name="num_of_elements" onkeypress="handleKeyPress(event)">
                    <br>
                    <button onclick="numberOfElements()" id="apply_button">Apply</button>
            </div>
        </div>
    </header>
    <div class="contener">
        <div class="container" id="comments">
            {% for comment in comments %}
            <div class="comment" onclick="showModal('{{ comment.name }}', '{{ comment.email }}', '{{ comment.body }}', '{{ comment.userId }}')">
                <h2>{{ comment.name }}</h2>
                <p>{{ comment.email }}</p>
                <p>{{ comment.body }}</p>
            </div>
            {% endfor %}
        </div>
    </div>

    <div id="myModal" class="modal">
        <div class="modal-content">
            <span class="close" onclick="closeModal()">&times;</span>
            <h2 id="commentName"></h2>
            <p id="commentEmail"></p>
            <p id="commentBody"></p>
        </div>
    </div>

    <script>
        document.addEventListener('DOMContentLoaded', function() {
        const comments = document.querySelectorAll('.comment');
        const modal = document.getElementById('myModal');
        const closeBtn = document.querySelector('.close');

        comments.forEach(comment => {
            comment.addEventListener('click', () => {
                showModal(comment);
            });
        });

        closeBtn.addEventListener('click', closeModal);

        function showModal(comment)
        {
            const name = comment.querySelector('h2').innerText;
            const email = comment.querySelector('p:nth-of-type(1)').innerText;
            const body = comment.querySelector('p:nth-of-type(2)').innerText;

            document.getElementById('commentName').innerText = name;
            document.getElementById('commentEmail').innerText = "mail: " + email;
            document.getElementById('commentBody').innerText = body;

            modal.style.display = 'block';
        }

        function closeModal() {
        modal.style.display = 'none';
        }
        });

        function numberOfElements() {
            var howMany = parseInt(document.getElementById("num_of_elements").value);

            var comments = document.getElementsByClassName("comment");

            // Sprawdzenie, czy wprowadzona wartość jest liczbą dodatnią
            if (isNaN(howMany) || howMany <= 0) {
                howMany = comments.length;
                alert("Please enter positive value!");
            }

            // Ukrycie wszystkich komentarzy
            for (var i = 0; i < comments.length; i++) {
                comments[i].style.display = 'none';
            }

            // Wyświetlenie tylko wybranych komentarzy
            for (var i = 0; i < howMany; i++) {
                if (comments[i]) {
                    comments[i].style.display = 'block';
                }
            }
        }
        function handleKeyPress(event) {
            if (event.key === 'Enter') {
                numberOfElements();
            }
        }

    </script>
</body>
</html>
