<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{{ url_for('css_other_style') }}">
    <title>Photos</title>
</head>
<body>
    <header>
        <a href="./"><h3 class="return">Return</h3></a>
        <h1>Photos</h1>
    </header>
    <div class="contener">
        <div id="photosContainer" class="photos-container">
            <!-- Photos will be loaded here -->
        </div>
        <button class="loadMoreButton" onclick="loadMorePhotos()">Load more photos</button>
    </div>

    <div id="myModal" class="modal">
        <div class="modal-content">
            <span class="close" onclick="closeModal()">&times;</span>
            <img id="modalPhoto" src="" alt="Photo">
            <h2 id="modalTitle"></h2>
            <p id="modalAlbumId"></p>
            <p id="modalUrl"></p>
        </div>
    </div>

    <script>
        const photos = {{ photos | tojson }};
        let currentIndex = 0;
        const photosPerPage = 50;

        function loadMorePhotos() {
            const container = document.getElementById('photosContainer');
            const endIndex = Math.min(currentIndex + photosPerPage, photos.length);
            for (let i = currentIndex; i < endIndex; i++) {
                const photo = photos[i];
                const photoDiv = document.createElement('div');
                photoDiv.className = 'photo';
                photoDiv.onclick = () => showModal(photo.title, photo.url, photo.thumbnailUrl, photo.albumId);
                const img = document.createElement('img');
                img.src = photo.thumbnailUrl;
                img.alt = 'Photo';
                photoDiv.appendChild(img);
                container.appendChild(photoDiv);
            }
            currentIndex = endIndex;
            if (currentIndex >= photos.length) {
                document.getElementById('loadMoreButton').style.display = 'none';
            }
        }

        function showModal(title, url, thumbnailUrl, albumId) {
            const modal = document.getElementById('myModal');
            const modalPhoto = document.getElementById('modalPhoto');
            const modalTitle = document.getElementById('modalTitle');
            const modalAlbumId = document.getElementById('modalAlbumId');
            const modalUrl = document.getElementById('modalUrl');

            modalPhoto.src = thumbnailUrl;
            modalTitle.innerText = title;
            modalAlbumId.innerText = "Album ID: " + albumId;
            modalUrl.innerHTML = `<a id="view" href="${url}" target="_blank">View</a>`;

            modal.style.display = 'block';
        }

        function closeModal() {
            const modal = document.getElementById('myModal');
            modal.style.display = 'none';
        }

        // Initial load of photos
        loadMorePhotos();
    </script>
</body>
</html>
