<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{{ url_for('css_other_style') }}">
    <title>Posts</title>
</head>
<body>
    <header>
        <a href="./"><h3 class="return">Return</h3></a>
        <h1>Posts</h1>
    </header>
    <div class="container">
        {% for post in posts %}
        <a href="./post.html">
            <div class="post">
                <h2>{{ post.title }}</h2>
                <p class="post_body">{{ post.body }}</p>
                <p>User ID: {{ post.userId }}</p>
                <p>ID: {{ post.id }}</p>
            </div>
        </a>
        {% endfor %}
    </div>
</body>
</html>
